.icon {
  width: 1em;
  height: 1em;
  margin-right: 3px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.header-menu {
  display: inline-block;

  li {
    list-style: none;
    display: inline;
    margin-right: 60px;

    a {
      color: #414141;
    }
  }

  a:hover,
  .router-active {
    color: #009a61;
    border-bottom: 1px solid #009a61;
  }
}

:global(.dark) {
  .header-menu {
    li {
      a {
        color: rgba(255, 255, 255, 0.85);
      }
    }

    a:hover,
    .router-active {
      color: #009a61;
      border-bottom: 1px solid #009a61;
    }
  }
}

@media (max-width: 970px) {
  .header-menu {
    li {
      display: block;
      padding: 3px 10px;
    }
  }
}
