.c-block {
  padding: 10px 5px;
}

.c-block-header {
  border-color: #e6e6e6;
  margin: 10px 0 10px;
  border-width: 1px 0 0;
  border-style: solid;
}

.c-block-header legend {
  font-size: 1.1rem;
  margin-left: 20px;
  padding: 0 10px;
  font-weight: 300;
}

.c-block-content {
  color: #666;
}
