.tag-type-mini {
  font-size: 12px;
}
.tag-type-normal {
  font-size: 18px;
}
.tag-type-big {
  font-size: 24px;
}
.tag-color-1 {
  a {
    color: #e6a23c;
  }
}
.tag-color-2 {
  a {
    color: #909399;
  }
}
.tag-color-3 {
  a {
    color: #67c23a;
  }
}
.tag-color-4 {
  a {
    color: #63a7fd;
  }
}
.tag-color-5 {
  a {
    color: #ff6169;
  }
}
.tag-color-6 {
  a {
    color: #ab8adc;
  }
}
